# Ignore binaries and CMake related files
build/*

# Sensitive informarion such as API keys
settings.json

# Ignore the pycache directory
src/python/alpaca/__pycache__
src/python/marketwatch/__pycache__

# Ignore the log file
src/python/alpaca.log